<h2>Answers</h2>
<ul>
  <h3><%= link_to "CLI", '/subjects/1' %></h3>
  <ul>
    <% Answer.where(question_id: 1).find_each do |answer| %>
      <li>
        <%= link_to answer.body, answer %>
      </li>
    <% end %>
  </ul>
  <h3><%= link_to "Git", '/subjects/2' %></h3>
  <ul>
    <% Answer.where(question_id: 2).find_each do |answer| %>
      <li>
        <%= link_to answer.body, answer %>
      </li>
    <% end %>
  </ul>
  <h3><%= link_to "Misc.", '/subjects/3' %></h3>
  <ul>
    <% Answer.where(question_id: 3).find_each do |answer| %>
      <li>
        <%= link_to answer.body, answer %>
      </li>
    <% end %>
  </ul>
  <h3><%= link_to "Angular", '/subjects/4' %></h3>
  <ul>
    <% Answer.where(question_id: 4).find_each do |answer| %>
      <li>
        <%= link_to answer.body, answer %>
      </li>
    <% end %>
  </ul>
  <h3><%= link_to "Single Page Apps", '/subjects/5' %></h3>
  <ul>
    <% Answer.where(question_id: 5).find_each do |answer| %>
      <li>
        <%= link_to answer.body, answer %>
      </li>
    <% end %>
  </ul>
  <h3><%= link_to "Express", '/subjects/6' %></h3>
  <ul>
    <% Answer.where(question_id: 6).find_each do |answer| %>
      <li>
        <%= link_to answer.body, answer %>
      </li>
    <% end %>
  </ul>
  <h3><%= link_to "Sequelize", '/subjects/7' %></h3>
  <ul>
    <% Answer.where(question_id: 7).find_each do |answer| %>
      <li>
        <%= link_to answer.body, answer %>
      </li>
    <% end %>
  </ul>
  <h3><%= link_to "APIs", '/subjects/8' %></h3>
  <ul>
    <% Answer.where(question_id: 8).find_each do |answer| %>
      <li>
        <%= link_to answer.body, answer %>
      </li>
    <% end %>
  </ul>
  <h3><%= link_to "RWD", '/subjects/9' %></h3>
  <ul>
    <% Answer.where(question_id: 9).find_each do |answer| %>
      <li>
        <%= link_to answer.body, answer %>
      </li>
    <% end %>
  </ul>
  <h3><%= link_to "CSS2", '/subjects/10' %></h3>
  <ul>
    <% Answer.where(question_id: 10).find_each do |answer| %>
      <li>
        <%= link_to answer.body, answer %>
      </li>
    <% end %>
  </ul>
  <h3><%= link_to "Databases", '/subjects/11' %></h3>
  <ul>
    <% Answer.where(question_id: 11).find_each do |answer| %>
      <li>
        <%= link_to answer.body, answer %>
      </li>
    <% end %>
  </ul>
  <h3><%= link_to "Javascript", '/subjects/12' %></h3>
  <ul>
    <% Answer.where(question_id: 12).find_each do |answer| %>
      <li>
        <%= link_to answer.body, answer %>
      </li>
    <% end %>
  </ul>
  <h3><%= link_to "OOJS", '/subjects/13' %></h3>
  <ul>
    <% Answer.where(question_id: 13).find_each do |answer| %>
      <li>
        <%= link_to answer.body, answer %>
      </li>
    <% end %>
  </ul>
  <h3><%= link_to "Ruby MVC", '/subjects/14' %></h3>
  <ul>
    <% Answer.where(question_id: 14).find_each do |answer| %>
      <li>
        <%= link_to answer.body, answer %>
      </li>
    <% end %>
  </ul>
  <h3><%= link_to "Ruby Basics", '/subjects/15' %></h3>
  <ul>
    <% Answer.where(question_id: 15).find_each do |answer| %>
      <li>
        <%= link_to answer.body, answer %>
      </li>
    <% end %>
  </ul>
  <h3><%= link_to "ActiveRecord", '/subjects/16' %></h3>
  <ul>
    <% Answer.where(question_id: 16).find_each do |answer| %>
      <li>
        <%= link_to answer.body, answer %>
      </li>
    <% end %>
  </ul>
  <h3><%= link_to "HTML and CSS", '/subjects/17' %></h3>
  <ul>
    <% Answer.where(question_id: 17).find_each do |answer| %>
      <li>
        <%= link_to answer.body, answer %>
      </li>
    <% end %>
  </ul>
  <h3><%= link_to "HTTP", '/subjects/18' %></h3>
  <ul>
    <% Answer.where(question_id: 18).find_each do |answer| %>
      <li>
        <%= link_to answer.body, answer %>
      </li>
    <% end %>
  </ul>
</ul>
