<h2><%= @question.subject.name %></h2>
<ul>
<h3><%= @question.question_text %></h3>
</ul>
<%= form_for [@question, @answer] do |f| %>
  <%= f.text_field :body %>

  <%= f.submit "Submit Answer"%>
<% end %>
