<h2>Question:</h2>
  <ul>
    <% question_id = @answer.question_id %>
    <% question_find = Question.find(question_id) %>
    <h3><%= question_find.question_text %><h3>
  </ul>
<h3>Answer:</h3>
  <ul>
    <%= @answer.body %>
    <%= link_to "Edit", edit_answer_path(@answer), class: 'btn btn-mini btn-success' if @current_user %>
    <%= link_to "Delete", @answer, method: :delete, class: 'btn btn-mini btn-danger' if @current_user %>
  </ul>
<h5>Submitted by <%= link_to @answer.user.username, @answer.user %></h5>
